<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <h1>Playlists</h1>

        <a href='/playlists/new'>New Playlist</a>

        {% for playlist in playlists %}
            <h2>{{ playlist.title }}</h2>
            <small>{{ playlist.description }}</small>
        {% endfor %}
    {% endblock %} 
</body>
</html>